$paddingSmallBtn: 0.6rem 1rem;
$paddingMidBtn: 1rem 1.6rem;
$paddingBigBtn: 1rem 3rem;
$btnColorB: black;
$btnColor18: #181818;
$btnColorW: white;
$colorDivHov: #ed6436;
$openedColor: lightgray;
$colorFeatureText: #383838;